.home-page {
  label,
  button,
  h2,
  .instructions {
    font-size: 2rem;
  }
  .highscores {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .score:nth-child(2) {
      color: red;
    }
  }
}
