.game-board {
  margin: 0 auto;
  width: 152rem;
  display: grid;

  gap: 10px;
  list-style-type: none;

  &.large {
    grid-template-columns: repeat(8, 1fr);
  }
  &.small {
    grid-template-columns: repeat(6, 1fr);
    width: 120rem;
  }
}
