$width: 18rem;
$height: 21rem;
$primary-color: pink;
$border-color: black;
.waifu-card {
  width: $width;
  height: $height;
  border: 2px solid $border-color;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  background-color: $primary-color;
  transition: opacity 0.5s;
  opacity: 1;
}
.waifu-image {
  width: calc($width - 20px);
  height: calc($height - 2.5rem);
  object-fit: cover;
  object-position: center 10px;
  //object-position: 0px 10px;
  border-radius: 10px;
}
.waifu-name {
  font-size: 1.6rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
// .fade-in-image {
//   animation: fadeIn 0.6s;
// }

// @keyframes fadeIn {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }
