.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 4rem;
  button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    &:hover {
      cursor: pointer;
    }
  }
}
.title h1 {
  font-size: 3rem;
}
